/* Error: Undefined variable.
 *    ,
 * 11 |     @media screen and (min-width: $sm) and (max-width: $mdl-1) {
 *    |                                                        ^^^^^^
 *    '
 *   styles\breakpoints.scss 11:56  for-middle()
 *   styles\index.scss 18:5         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 11 \2502      @media screen and (min-width: $sm) and (max-width: $mdl-1) {\d\a    \2502                                                         ^^^^^^\a    \2575 \a   styles\\breakpoints.scss 11:56  for-middle()\a   styles\\index.scss 18:5         root stylesheet";
}
