.image {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
    margin-left: 16px;
    margin-top: 16px;
    background-size: contain;
    border: 1px dotted grey;
    background-repeat: no-repeat;
    background-position: center;
}