.galery {}

.image {
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 16px;
    background-size: contain;
    border: 1px dotted grey;
    background-repeat: no-repeat;
    background-position: center;
}