@keyframes moving {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: 70px;
    }
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.spinner {
    justify-content: center;
    align-items: center;
}

.spinner-text {
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s infinite, blinking 2s infinite linear;
}

.rect {
    position: relative;
    width: 10px;
    height: 4px;
    border-radius: 2px;
    background-color: black;
    animation: moving 2s infinite alternate, blinking 2s infinite;
}