* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    display: flex;
    height: 3em;
    padding: 1em;
    background-color: #eee;
}

button {
    display: flex;
    align-items: center;
    border: none;
    line-height: 3em;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

i {
    display: flex;
    align-items: center;
    font-size: 2em;
    padding: 0;
}