[target="_blank"] {
    color: green;
}

footer,
header {
    border: 3px dashed blue
}

ul,
ol {
    background-color: yellow
}

h1,
h2,
h3,
h4 {
    margin-left: 20px
}

article[class="new"] {
    font-size: 24px
}

li[class="topic new"] {
    background-color: red
}

article[class="new posted-today"] {
    background-color: pink;
    font-size: 24px
}