body {
    background-color: #bdc3c7;
}

h1 {
    color: #9b59b6;
}

h2 {
    color: blue;
}

p {
    background-color: yellow;
}

input {
    border: 3px solid red;
}

div>p {
    font-size: 25px;
}

input[type="text"] {
    background-color: grey;
}