header {
    height: 40px;
    background-color: yellow;
    display: flex;
    align-items: center;
}

.navigation {
    margin: 0px;
    padding-left: 16px;
    display: flex;
    list-style-type: none;
}

.nav_elem {
    margin-right: 16px;
}

.footer {
    background-color: green;
    height: 40px;
    display: flex;
}

.footer_text {
    margin: auto;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-grow: 1;
}

section {
    display: flex;
    flex-grow: 1;
    background-color: pink;
    justify-content: center;
    align-items: center;
}

aside {
    width: 200px;
    background-color: grey;
}

.hnews {
    display: flex;
    justify-content: center;
    margin: 16px;
}

ul {
    padding-left: 0px;
}

.news {
    height: 40px;
    margin-left: 16px;
    list-style-type: none;
}