* {
    box-sizing: border-box;
}

header {
    background-color: darkturquoise;
    height: 40px;
}

nav {
    height: 40px;
}

li {
    margin-left: 16px;
    color: white;
    display: inline-block;
    line-height: 40px;
}