header {
    background-color: darkturquoise;
    height: 40px;
    position: fixed;
    width: 100%;
}

nav {
    height: 40px;
}

ul {
    margin: 0px;
}

li {
    margin-left: 16px;
    color: white;
    display: inline-block;
    line-height: 40px;
}

main {
    background-color: beige;
    height: 5000px;
}

.head {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    position: absolute;
    z-index: 0;
    left: calc(50%);
    top: calc(50%);
}

.ear {
    height: 40px;
    width: 60px;
    background-color: brown;
}