* {
    box-sizing: border-box;
}

header {
    background-color: darkturquoise;
    height: 40px;
    position: fixed;
    width: 100%
}

nav {
    height: 40px;
}

ul {
    margin: 0px;
}

li {
    margin-left: 16px;
    color: white;
    display: inline-block;
    line-height: 40px;
}

main {
    background-color: beige;
    height: 5000px;
}

.head {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
}

.ear_right {
    height: 40px;
    width: 60px;
    background-color: brown;
    float: right;
}

.ear_left {
    height: 40px;
    width: 60px;
    background-color: brown;
    float: left;
}

.eye_righ {
    height: 40px;
    width: 60px;
    background-color: grey;
    float: right;
    border-radius: 50%;
    padding-bottom: 20px;
}

.eye_left {
    height: 30px;
    width: 30px;
    background-color: grey;
    float: left;
    border-radius: 50%;
}

.content {
    padding-top: calc(50%);
    padding-left: calc(50%);
}